.chitiet-baiviet-bc {
    /*để yên class này, đừng xóa đừng thắc mắc*/
}


.image-container-1200-628-bc {
    width: 100%;
    aspect-ratio: 1200/628; /* Tỷ lệ khung hình dựa trên kích thước 1200x628 */
    overflow: hidden;
    position: relative;
}
.cover-image-bc {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



/*BEGIN user menutop*/
.user-block {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 280px;
    line-height: 1.2;
}

    .user-block .avatar {
        width: 128px;
        height: 128px;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid white;
    }

        .user-block .avatar img {
            width: 100%;
            height: auto;
        }
/*END user menutop*/

/*BEGIN THÔNG BÁO*/

#thongbao-charms::-webkit-scrollbar {
    width: 6px !important;
}

#thongbao-charms::-webkit-scrollbar-track {
    background: #fff !important;
}

#thongbao-charms::-webkit-scrollbar-thumb {
    background: #fa6800 !important;
}

    #thongbao-charms::-webkit-scrollbar-thumb:hover {
        background: #fa6800 !important;
    }

.thongbao-div:hover {
    background-color: #dfdfdf !important
}

.thongbao-avt {
    overflow: hidden;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
    margin-right: 8px;
}

.thongbao-noidung {
    width: 190px;
    float: left;
}

.thongbao-hanhdong {
    float: right;
    right: -10px;
}

.thongbao-noidungchinh {
    max-height: 57px;
    overflow: hidden;
    font-size: 12px;
    line-height: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #000;
}

.thongbao-thoigian {
    font-size: 11px;
    color: #7d7d7d !important;
    padding-top: 2px;
}
/*END THÔNG BÁO*/

/*style textbox*/
.textbox-style-bc {
    border: 1px solid #d9d9d9;
    padding: 0 3px;
}

/*auto complete ajax*/
.completionList {
    border: solid 1px #d9d9d9;
    margin: 0px;
    padding: 3px;
    height: 200px;
    overflow: auto;
    background-color: #FFFFFF;
    z-index: 1041 !important;
    position: absolute;
    list-style-type: none;
    font-size: .875rem;
}

.listItem {
    color: #191919;
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemHighlighted {
    background-color: #d9d9d9;
    padding: 0 3px;
    height: 30px;
    line-height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*auto complete ajax*/

/*fix-colum-table*/
.ellipsis-1-grid {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-bcorn-container {
    display: grid; /* This is a (hacky) way to make the .grid-bcorn element size to fit its content */
    overflow: auto;
    width: 100%;
    height: 650px
}

.grid-bcorn {
    display: flex;
    flex-wrap: nowrap;
}

.grid-bcorn-col {
    width: auto;
    min-width: 50px;
}

    .grid-bcorn-col:hover {
        background-color: #bae9f9;
    }

.grid-bcorn-item--header {
    position: sticky;
    position: -webkit-sticky;
    background: white;
    top: 0;
    z-index: 0;
    background-color: #ecf0f5;
    font-weight: bold;
}

.grid-bcorn-colum-fixed-left {
    position: sticky;
    left: 0;
    z-index: 1;
    background: white;
}

.grid-bcorn-colum-fixed-right {
    position: sticky;
    right: 0;
    z-index: 1;
    background: white;
}

.grid-bcorn-item {
    height: 50px;
    border: 1px solid #dfdfdf;
    padding: 0.625rem;
}

    .grid-bcorn-item:hover {
        background-color: #e8f8fd
    }
/*fix-colum-table*/


.radius-bc-4 {
    border-radius: 5px;
}

.center-center-bc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-height-code {
    max-height: 150px !important;
    overflow: auto
}

.img-cover-vuongtron {
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
    max-width: none !important;
}

.img-cover-vuong {
    object-fit: cover;
    object-position: 50% 50%;
    max-width: none !important;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.word-wrap-bc {
    word-wrap: break-word;
}

.word-break-bc {
    word-break: break-all;
}

.text-size-20 {
    font-size: 20px !important
}

.clr-bc {
    clear: both;
}

.fix_but_1 {
    position: fixed;
    bottom: 80px;
    right: 24px;
    cursor: pointer;
    z-index: 1039;
    width: 44px;
    height: 44px;
    line-height: 40px;
    border-radius: 50%;
}

.fix_but_2 {
    position: fixed;
    bottom: 134px;
    right: 24px;
    cursor: pointer;
    z-index: 1039;
    width: 44px;
    height: 44px;
    line-height: 40px;
    border-radius: 50%;
}

.fix_but_3 {
    position: fixed;
    bottom: 188px;
    right: 24px;
    cursor: pointer;
    z-index: 1039;
    width: 44px;
    height: 44px;
    line-height: 40px;
    border-radius: 50%;
}

.fix_but_4 {
    position: fixed;
    bottom: 242px;
    right: 24px;
    cursor: pointer;
    z-index: 1039;
    width: 44px;
    height: 44px;
    line-height: 40px;
    border-radius: 50%;
}

.icon-social-media {
    width: 30px;
    height: 30px;
    line-height: 26px;
    border-radius: 50%;
}

.ellipsis-1 {
    display: -webkit-box;
    line-height: 1.3px;
    height: calc(16px * 1.3 * 1);
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis-2 {
    display: -webkit-box;
    line-height: 1.3px;
    height: calc(16px * 1.3 * 2);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis-3 {
    display: -webkit-box;
    line-height: 1.3px;
    height: calc(16px * 1.3 * 3);
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis-4 {
    display: -webkit-box;
    line-height: 1.3px;
    height: calc(16px * 1.3 * 4);
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fs-bc-18-16 {
    font-size: 22px;
}

.fs-bc-21-19 {
    font-size: 21px;
}

@media (max-width: 575px) { /*sm*/

}

@media (max-width: 767px) { /*md*/

}

@media (max-width: 991px) { /*lg*/
    .fs-bc-18-16 {
        font-size: 18px;
    }

    .fs-bc-21-19 {
        font-size: 19px;
    }

    .fix_but_1 {
        bottom: 64px;
        width: 40px;
        height: 40px;
        line-height: 36px;
        right: 6px;
    }

    .fix_but_2 {
        bottom: 114px;
        width: 40px;
        height: 40px;
        line-height: 36px;
        right: 6px;
    }

    .fix_but_3 {
        bottom: 164px;
        width: 40px;
        height: 40px;
        line-height: 36px;
        right: 6px;
    }

    .fix_but_4 {
        bottom: 214px;
        width: 40px;
        height: 40px;
        line-height: 36px;
        right: 6px;
    }
}

@media (max-width: 1199px) { /*xl*/

}

@media (max-width: 1451px) { /*xxl*/
}
