<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="bco86512_quanganh_dbConnectionString" connectionString="Data Source=112.78.2.42;Initial Catalog=bco86512_quanganh_db;Persist Security Info=True;User ID=bco86512_quanganh_user;Password=2Zftv32_PVif~vpz;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="bco86512_quanganh_dbConnectionString1" connectionString="Data Source=112.78.2.42;Initial Catalog=bco86512_quanganh_db;Persist Security Info=True;User ID=bco86512_quanganh_user;Password=2Zftv32_PVif~vpz;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="bco86512_quanganh_dbConnectionString2" connectionString="Data Source=112.78.2.42;Initial Catalog=bco86512_quanganh_db;Persist Security Info=True;User ID=bco86512_quanganh_user;Password=2Zftv32_PVif~vpz;Encrypt=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="vi-VN" uiCulture="vi-VN"/>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--<customErrors mode="On" defaultRedirect="~/ErrorPage.aspx" />-->
    <!--trên host sửa lại như ghi chú ở trên-->
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.7.2" requestValidationMode="2.0"/>
    <pages validateRequest="true"/>
    <!--false: cho phép nhập ký tự html-->
  </system.web>
  <appSettings>
    <add key="SmtpServer" value="host.emailserver.vn"/>
    <add key="SmtpPort" value="587"/>
    <add key="EmailPassword" value="9qCdpF6w58SqR6Dt"/>
  </appSettings>
  <system.codedom>
    <!--trên host ghi chú cặp thẻ compilers bên dưới-->
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <!--rewrite url-->
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Quy tắc rewrite từ URL gốc sang URL đã rewrite -->
        <rule name="Rewrite to URL Page" stopProcessing="true">
          <match url="^test/([^/]+)/([^/]+)\.html"/>
          <action type="Rewrite" url="/url.aspx?id={R:1}&amp;name={R:2}"/>
        </rule>
        <!-- Quy tắc rewrite từ URL 'bon-bap' đến trang profile-bon-bap.aspx -->
        <rule name="Rewrite to Profile Page" stopProcessing="true">
          <match url="^bon-bap$"/>
          <action type="Rewrite" url="/home/page/profile-bon-bap.aspx"/>
        </rule>
        <rule name="baotri" stopProcessing="true">
          <match url="^bao-tri$"/>
          <action type="Rewrite" url="/home/bao-tri.aspx"/>
        </rule>
        <rule name="dangnhap" stopProcessing="true">
          <match url="^dang-nhap$"/>
          <action type="Rewrite" url="/home/dang-nhap.aspx"/>
        </rule>
        <!-- Quy tắc rewrite cho trang danh sách bài viết -->
        <rule name="Rewrite to Danh Sach Bai Viet Page" stopProcessing="true">
          <match url="^([^/]+)-(\d+)$"/>
          <action type="Rewrite" url="/home/page/ds-bai-viet.aspx?idmn={R:2}"/>
        </rule>
        <!-- Quy tắc rewrite cho trang chi tiết bài viết -->
        <rule name="Rewrite to Chi Tiet Bai Viet Page" stopProcessing="true">
          <match url="^([^/]+)-(\d+)$"/>
          <action type="Rewrite" url="/home/page/chi-tiet-bai-viet.aspx?idbv={R:2}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>